# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
*/venv/
*/bot-venv/

# Logs and results
logs/*.log
logs/*.logs
logs/*.err
*.log
*.logs
*.err
results/


# Environment variables
.env

# OS / editor files
.DS_Store
Thumbs.db
.idea/
